#header {
    height: 55px;
    padding-top: 20px;
}
#user-control {
    padding-top: 10px;
    text-align: right;
}
#content {
    margin-bottom: 20px;
}
#footer {
    border-top: #62C462 solid medium;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}
.match-box {
    padding: 5px 0px 5px 0px;
}
.match-box .title {
    font-size: 18px;
}

/* Override Bootstrap */
.control-label:hover {
    cursor: auto;
}
#nav .nav-tabs {
    border-bottom: #62C462 solid medium;
}
.nav-tabs li a:hover {
    background-color: #51A351;
    color: #ffffff;
}

/* Override Tag */
body, input {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
a {
    color: #62C462;
}
a:hover {
    color: #51A351;
}
a, a:hover {
    text-decoration: none;
}
h1 {
    margin: 0;
}